* {
    font-family: Arial, Helvetica, sans-serif;
}

main p {
    font-family: 'Poppins', sans-serif;
}

@media all and (min-width: 768px) {
    main p {
        font-family: 'Times New Roman', Times, serif;
    }
}

picture {
    visibility: visible;
}


header, footer {
    color: rgba(255, 60, 0, 0.815);
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: block;
    float: left;
}

a {
    text-decoration: none;
    color: rgb(10, 206, 255);
}

a[none] {
    text-align: right;
    background-color: #aaaaaa;
}

a:hover {
    cursor: crosshair;
}

a:active {
    color: rgb(10, 206, 255);
}

main div h1 {
    background-color: green;
}
/* Header */
.header-wrapper { 
    box-sizing: content-box;
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#header-name {
    font-size: 20px;
    color: #fff;
}
/* Site Content */
.content-wrapper {
    box-sizing: content-box;
    min-height: calc(100vh - 50px);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0in;
    margin-bottom: 0cm;
    max-width: 80%;
    padding: 10rem 10px 1rem 10px;
    background: rgb(255, 255, 255);
}


.headers h2 {
    border-style: dashed;
    border-color: hsl(204, 100%, 50%);
    border-left: double;
    border-right: double;
    border-width: 20px;
    border-radius: 40px;
}

details:hover summary {
    color: red;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.grid-container {
    box-sizing: content-box;
    display: grid;
    margin-top: 10px;
    margin-bottom: 300px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 75px 75px 75px 75px auto;
}

.grid-name {
    grid-column-start: 2;
    grid-row-start: 1;
}

.grid-button {
    grid-column-start: 3;
    grid-row-start: 2;
}

.grid-select {
    grid-column-start: 4;
}

.grid-misc {
    grid-column-start: 1;
    grid-row-start: 3;
}
/* Footer */
.footer-wrapper {
    background: #333;
    padding: 3rem 3rem;
    color:white;
}